bin/
obj/
node_modules/
bower_components/
deploy/
packages/
dist/
artifacts/
.fake/
build/temp

*.suo
*.user
*.sln.docstates
*.userprefs

# Angular JS Ignores
gen_docs.disable
test.disable
regression/temp*.html
performance/temp*.html
.idea/workspace.xml
*~
*.swp
angular.js.tmproj
/node_modules/
/components/
/bower_components/
angular.xcodeproj
.idea
.agignore
libpeerconnection.log
npm-debug.log
/tmp/
/scripts/bower/bower-*
*.dmp
.tmp
